[2015-11-12 08:18] nap-sam-dean opened #3 "Add support for tags"
Both Feature tags and Scenario tags

[2016-02-03 13:53] shalinbshah commented on #3
Any update/timeline on this?

[2016-02-03 14:22] nap-sam-dean commented on #3
Honestly, it's not looking good. Without the ability to pass in tags somehow on the command line I can't see how this would work.

A change to xcodebuild to allow an environment variable (i.e. `TAGS=@smoke,@api` xcodebuild ...) to be set was my initial thought, but I can't see a way to pass that into the app's process.

I've not given up yet, but I'm not far off.

[2016-02-03 14:35] kerrmarin commented on #3
Worth adding a `help-wanted` label?

[2016-02-03 14:50] nap-sam-dean commented on #3
Added. Didn't know that was a Thing™.

[2016-04-05 18:14] BMe2U opened #11 "ENABLE_BITCODE error"
ld: '/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/Library/Frameworks/XCTest.framework/XCTest' does not contain bitcode. You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target. for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see i

[2016-04-10 15:24] deanWombourne opened #12 "Example should come after the steps, not before"
Feature files should allow the Example block to come after the Outline i.e.

[code]

should be a valid scenario.

[2016-05-24 13:14] joridor opened #17 "Feature request: Make mapping possible between XCTestCase & correct StepDefiner: Duplicate steps"
We are currently using your library and ran into some trouble.
We have the same step definition in 3 different XCTestCase-classes and a BaseStepDefiner-subclass per testcase.
The library only executes the last definition it found, thus not associating the right automation code with a test.

Request:
Make XCTestCase & StepDefiner mappable to avoid overriding code.
We currently have around + 20 feat

[2016-05-24 15:25] deanWombourne commented on #17
Hey - that's a use case we never thought of! We've always just written different step definitions or used regular expressions to solve it.

Can you add an example of what you mean so I can be sure I understand what you're trying to do?

[2016-06-09 09:58] kerrmarin commented on #17
@joridor do you have any examples of this issue? We're not 100% sure what you mean.

[2016-06-09 10:41] joridor commented on #17
@kerrmarin One of the use cases I can think about is a step like:
'the user is logged in'

Depending on where you are in the application, different steps need to be taken to check if a user is logged in or not.
Yes, true, you can try and guess where you are, but this ends up in very long step definition and is harder to maintain.
For now I rewrote your code to have both TestCase level (using a sub

[2016-06-09 10:43] kerrmarin commented on #17
That sounds great, we'd be very happy to review & merge a PR that contains these changes :)

[2016-06-09 10:44] kerrmarin commented on #12
After discussing this change we decided the extra code was not worth this feature

[2016-06-09 10:44] #12 closed

[2016-06-09 10:46] kerrmarin commented on #11
Hi @BMe2U,

We've never seen this issue before. It doesn't look related to this library however. Did you manage to find a fix for it?

[2016-06-09 10:46] joridor commented on #17
@kerrmarin For now it was directly integrated into this project, because we have a different work flow (Test Cases are generated by build server from feature files, also takes tags in mind).
Happy to fork your code & create a pull request if I have some spare time.

[2016-06-17 17:18] kerrmarin commented on #11
I'm closing this. Please let us know if you still have an issue while trying to use this library.

[2016-07-01 15:31] jgonfer opened #31 "Early unexpected exit, operation never finished bootstrapping - no restart will be attempted"
Hi there! When I try to run the UI Tests I get the following error message:

[code]

![image](https://cloud.githubusercontent.com/assets/5473123/16526383/5b55d67c-3fb1-11e6-8dc5-2b19f1d7baf7.png)

I'm using Xcode 7.3.1 and Cocoapods 1.0.1. You can check the project here: https://github.com/jgonfer/xcode-ui-testing-cheat-sheet

I've also created a blank new project with just the XCTest-Gherkin pod

[2016-07-02 18:19] kerrmarin commented on #31
Hey @jgonfer I have checked out your project and I can't seem to reproduce this same issue. Have you tried cleaning your build folder and running it again?

On a different note, I have found that using cocoapods in UI Tests doesn't work (see https://github.com/CocoaPods/CocoaPods/issues/5110) I think it will be fixed in the next version of CocoaPods.

[2016-07-02 20:45] jgonfer commented on #31
Hi @kerrmarin I cleaned my build folder but I'm still getting the same error.

Related to your note about Cocoapods, [this comment](https://github.com/CocoaPods/CocoaPods/issues/5110#issuecomment-227041153) says that the PR should be included in next version. I'll check it again once the next version is released and I'll post here the results.

Thanks for your reply :)

[2016-07-03 11:39] kerrmarin commented on #31
Great. I'll close this issue for now, if you are still finding issues after the next version of CocoaPods has been released please re-open.

Thanks!

[2016-07-03 11:39] #31 closed

[2016-07-04 08:34] jgonfer commented on #31
Hi @kerrmarin ! I've found in this post https://github.com/CocoaPods/CocoaPods/issues/5250#issuecomment-220061976 a patch solution until next version of Cocoapods, and I can confirm you that XCTest and XCTest_Gherkin are working properly 👍

![image](https://cloud.githubusercontent.com/assets/5473123/16554919/360a1b94-41d2-11e6-92ca-9b64374cc023.png)

I hope this post can be helpful.

[2016-07-04 08:43] kerrmarin commented on #31
Awesome! Cheers @jgonfer

[2016-07-05 13:50] smaljaar opened #35 "Feature request: execute multiple scenario's in one native feature file in specified order"
When multiple scenario's are defined in one native feature file they are executed in reversed alphabetical order. This is caused by the line of code in NativeTestCase.swift:

Without this sort operation the test invocations (aka 'scenarios') are executed in alphabetical order, which is natural for tests in an XCTestCase class. However, I found this unexpected behaviour when executing multiple scen

[2016-07-05 14:11] nap-sam-dean commented on #35
I'll be honest - I have no idea why that sort is there. I suspect to make the order consistent while I was debugging it, though you're right; the order is somewhat strange! I would also expect the test cases to be executed in the order they are defined. I can think of two ways to do this:

* Add a property to NativeScenario which is it's position in the feature (though this will probably just be i

[2016-07-05 20:34] kerrmarin commented on #35
How is number 2 relying on Xcode? Assuming that we change the name of the test selector, and we maintain the call to `sort`, the order would be defined by that?

I don't have a strong preference for either, but perhaps number 2 would be slightly simpler to implement and understand.

[2016-07-06 08:02] nap-sam-dean commented on #35
Ah - yes you're right, we run each test ourselves inside that loop. Number 2 doesn't depend on Xcode at all! As long as we check that sort puts `test2MySecondTest` after `test10MyTenthTest` we should be fine :) I guess this is what unit tests are for!

[2016-07-06 13:08] smaljaar commented on #35
@kerrmarin I agree with the option "Add a number to the dynamically created test method name" for simplicity reasons, and to keep a sorting operation in place so we don't need to rely on Xcode's sorting of tests in a XCTestCase class
@nap-sam-dean the sort should put test2MySecondTest _before_ test10MyTenthTest right..?

[2016-07-06 14:51] nap-sam-dean commented on #35
@smaljaar I've updated my comment :)

[2016-08-25 08:38] ilife commented on #11
Faced the same issue. It happens when you select a device instead of simulator and test. Even the sample project also fails to build for device.

[2016-08-25 09:46] suniljakhar opened #38 "Installation of XCTest-Gherkin using carthage."
Hi,
We are looking for installation of XCTest-Gherkin using carthage.

[2016-08-25 14:14] kerrmarin commented on #38
Hi @suniljakhar. This would be a very cool addition to XCTest-Gherkin. We'll be happy to review a pull request that adds this functionality.

[2016-08-26 08:20] kerrmarin commented on #11
@ilife I've made a PR to disable bitcode (https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/39). This will allow you to run on hardware devices.

[2016-08-26 20:20] BMe2U commented on #11
I can see the ENABLE_BITCODE as "Yes", so i'm still getting the error.

[2016-08-30 09:58] ilife opened #41 "Data Tables?"
Given the following users exist:
  | name   | email              | twitter         |
  | Aslak  | aslak@cucumber.io  | @aslak_hellesoy |
  | Julien | julien@cucumber.io | @jbpros         |
  | Matt   | matt@cucumber.io   | @mattwynne      |

Can I use data tables with XCTest-Gherkin? If yes, then, what is the correct way to define steps?

[2016-08-30 11:02] nap-sam-dean commented on #41
Hi,

This should work absolutely fine like this:

[code]

[2016-08-30 11:15] nap-sam-dean commented on #11
That's very strange :/ Quick sanity check - you've re-run `pod install`?

[2016-08-30 11:52] ilife commented on #41
In the above solution provided by you, outline executes iteratively one example at a time. But, I am talking about this:
https://www.relishapp.com/cucumber/cucumber-tck/docs/data-tables

Here all the values for the given step are passed only once.

[2016-08-30 12:24] nap-sam-dean commented on #41
Yes, that's because my answer is a hack that works around the fact we don't have support for data tables (yet) :)

The step(s) in the Outline block are run once per line in the example data.

The steps after the Outline block are then run once.

You would have to modify your single step to allow it to be run multiple times, but with a bit of a tweak the end result would be the same.

Alternatively

[2016-09-01 14:40] kerrmarin commented on #11
A new version hasn't been released with #39 yet. @nap-sam-dean can you cut a new release from master? and @BMe2U can you try to point the podfile to HEAD and check if this solved your problem?

[2016-09-06 20:56] nmcdonaldd commented on #11
My fix for this was to disable bitcode on the targets specified in project build settings.

[2016-09-07 06:43] nap-sam-dean commented on #11
This has been pushed out as version 0.7.0 - let me know if it solves the problem.

@nmcdonaldd Do you have an issue with having to reset that property each time you do a `pod install` / `pod update`?

[2016-09-08 00:06] DarkSatyr opened #43 "Swift 2.3/3.0 support?"
Hi everyone,
Are you going to add Swift 2.3 or 3.0 support anytime soon? When this can be?

[2016-09-08 07:08] nap-sam-dean commented on #43
I guess the cheeky answer would be "whenever your pull request gets approved" ;)

We're moving directly to Swift 3 here, so that will probably be the first thing we look at. We'll probably also get a swift 2.3 branch as well for backwards compatibility, though that branch won't be actively developed.

[2016-09-08 21:07] merrygobyebye commented on #3
Have you considered using the Objective-C Gherkin parser/compiler?
https://github.com/cucumber/gherkin

[2016-09-14 13:57] smaljaar opened #44 "Issue in Xcode 8"
Hello! Today I ran in an issue using XCTest-Gherkin with Xcode 8. I can successfully use it and run the tests, until at the end of the run, Xcode crashes and it says:

So XCTest does not seem to like this testRunNativeTests method which dynamically creates the other tests. I have tried removing the subclassing of NativeTestCase and setting the path directly within testRunNativeTests but it gave th

[2016-09-14 18:44] nap-sam-dean commented on #44
Hi - I'm working on this as we speak, but to be honest am not 100% sure why it's happening, and nothing I've tried so far has had any effect.

I've narrowed it down to running test cases from within another test case, but need to spend more time investigating.

[2016-09-16 09:05] smaljaar commented on #44
I'm also looking into this but no luck so far.
Any progress on your side?

[2016-09-16 19:49] nap-sam-dean commented on #44
Nothing from me, but there's a PR that fixes it here: https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/45#pullrequestreview-416422 from @Rabursky - all it needs is the CI to pass and it looks good to go. And that's just a .travis configuration issue; the tests all pass locally :)

[2016-09-16 19:50] nap-sam-dean commented on #43
Hi,

@Rabursky has just submitted a pull request which adds Swift 3 support (and lets it work on Xcode8) so as soon as that is merged in and released, you should be good to carry on with swift 3 :)

[2016-09-19 22:27] kirillzh opened #46 "Manual installation without CocoaPods"
How can I install this library manually without using CocoaPods?

I added `Example/Pods/Pod.xcodeproj` to my project, and `XCTest-Gherkin (Pod)` "Target Dependency" and "XCTest_Gherkin.framework" in "Link Binary With Libraries". Still doesn't seem to recognize the library.

[2016-09-20 00:49] kirillzh commented on #46
Thanks for replying, @kerrmarin!

 I was adding source files to my project as a references, not as a groups. That's why it didn't work.

Thank you.

[2016-09-20 00:50] #46 closed

[2016-09-21 00:10] irskep commented on #43
Your move to 3.0 (skipping 2.3) means I can no longer use your repo. It would be great if you could make a git tag in this repo that adds this commit: https://github.com/irskep/XCTest-Gherkin/commit/2c2c667b7a7c75d8215fd12ea50e89fd351ecafa

Also, at some point you broke Carthage support by removing the shared scheme for building the framework. I added it back.

I would submit a PR, but I can't wor

[2016-09-21 06:03] nap-sam-dean commented on #43
@irskep First, obviously, sorry and oops :) I've made a branch `feature/swift23` which contains your commit so you can continue to work from there, and if you (or other swift 2.3 users) need to make any other changes then they can be PR'd into there.

RE: carthage support - I don't know anything about Carthage really, so had no idea we had broken it! What do we do to fix this on master as well; is

[2016-09-21 16:24] irskep commented on #43
All you need to do is re-share the scheme that builds the framework. That's all Carthage needs. Its whole design is to scan your xcodeproj/xcworkspace for shared framework schemes.

[2016-09-21 16:27] irskep commented on #43
Thanks for being so responsive! I imagine the `feature/swift23` branch will not need much maintenance, since Swift 2.3 is a transitional version anyway.

[2016-09-22 20:52] nap-sam-dean commented on #43
Hi @Rabursky - can you take a look at this PR please https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/47 and let me know if that's all I need to do?

Thanks!

[2016-09-26 15:36] dhoskins commented on #3
I assume the difficulty here is in the use of tags to run only a subset of tests at a time.

Tags can also be used in conjunction with hooks to define `@Before` and `@After` blocks for scenarios.  I assume that this would be an easier task.

Is this correct, and would it be worth splitting this issue in to these two scenarios?

[2016-09-28 11:37] nap-sam-dean commented on #44
@smaljaar Hi - can you confirm that the latest release of this fixes your problem, and then I can mark this issue as closed. Thanks!

[2016-09-28 11:39] nap-sam-dean commented on #43
Hi @DarkSatyr - can you confirm that the latest release builds in swift 3.0 for you, and then I can close this issue? Thanks.

[2016-09-28 11:40] nap-sam-dean commented on #38
Hi - I don't know anything about carthage really, but does this PR fix your problem - https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/47 ?

[2016-09-28 11:41] nap-sam-dean commented on #11
@BMe2U Hi - it's been 21 days sine any chat on this issue, we think it's fixed so unless you can confirm that it's not I'm going to close this issue in the next few days, thanks!

[2016-09-28 12:11] smaljaar commented on #44
@nap-sam-dean yes the latest release fixes it!

[2016-09-28 12:36] nap-sam-dean commented on #44
Fantastic news :)

[2016-09-28 12:36] #44 closed

[2016-10-04 17:44] DarkSatyr commented on #43
Hi @nap-sam-dean everything works fine, thanks
sorry for late response

[2016-10-04 18:09] nap-sam-dean commented on #43
No worries - glad it's all working :)

[2016-10-04 18:09] #43 closed

[2016-10-05 13:28] smaljaar opened #48 "Issue in XCTest-Gherkin when using recordFailure"
Hello,

I noticed an issue with getting false positive when using the XCTest method recordFailure.

The issue occurs if you call the method waitForElementToAppear for a second time from a StepDefiner subclass.

[2016-11-09 09:57] ollitapa commented on #38
Hi, the scheme does not seem to be shared. It works if one checks the main scheme as shared in _Pods.xcodeproj. I can try to make a pull.

[2016-11-15 12:19] jacdevos opened #49 "Native tests behave pretty weirdly with XCode's XCTest runner"
Although more an issue in XCode, the way Native tests are dynamically built up does not play nicely with XCode's test runner, for one it does not show up until after running.

I've created a native runner, with you create normal XCUnit tests - and you simply pass in the feature file and scenario name. It works pretty well for my use case (in which we share the feature files between Android and iOS

[2016-11-17 17:31] kerrmarin commented on #49
Hey @jacdevos, thanks for thinking about contributing to XCTest-Gherkin. The native feature parsing is really just meant to be a way to onboard easily, but because of the current limitations for debugging, the recommended way to run tests with XCTest-Gherkin is to migrate your feature files to Swift. For this reason, I'm not sure we want to invest more time and effort into making the native parsin

[2016-11-18 12:22] jacdevos commented on #49
Hi Kerr Marin,

Thanks for considering! I would understand if you stick to your core use
case.

FYI the reasons I chose to build on your solution are:
• you support it well (only one to properly support Swift3 at the moment)
• the code is clean and modular, proved by how easy it was to support my
use case
• there just aren't good options to use XCode, XCUnit, XCUI tests (the only
Apple supported)

[2016-11-23 08:39] smaljaar commented on #3
@dhoskins we are currently looking into integrating support for the @After blocks so we can do cleanup after executing a test case, so hopefully a pull request will follow soon. If any ideas let me know!

[2016-11-23 08:45] smaljaar commented on #49
shared between Android and iOS, defined mainly by a product owner and a
tester.

We also reuse the same feature files for Android and iOS, and we love that this is possible with XCTest-Gherkin :)

[2017-03-23 06:05] SpeedyNassir opened #54 "TestCase Passes when it is actual failure"
I am pretty new to XCtest and I am from Testing background, still trying to grab hold of swift and XCtest.
Issue: I have updated the Pod yesterday, since then I am seeing my test passing even though it is a fail(Only when multiple tests are run from a class), it is all good when that specific test is run(ie. the test fails).

I am using :

[code]

What I found was that when multiple tests are run

[2017-03-23 08:58] nap-sam-dean commented on #54
Hi,

I can't reproduce this on the latest master (ref 7717628)

I'm using this test case to try to see the issue:

[code]

but I get test0 passing, and test1 and test2 both fail as expected.

Can you product a test case which can be dropped into the pod's example project so I can reproduce it please?

[2017-03-23 09:00] nap-sam-dean commented on #54
(I'll try to reproduce #48 - it does look like they might be the same issue)

[2017-03-23 09:05] nap-sam-dean commented on #54
OK, I've tried this test case (in the UI test target) and it behaves as expected (i.e. 1 passing test, and then 2 failing ones).

[code]

This seems much closer to your original code, can you modify this so that it shows your issue please?

[2017-03-23 09:06] nap-sam-dean commented on #48
Hi, I've tried this test case (in the UI test target) and it behaves as expected (i.e. 1 passing test, and then 2 failing ones).

[code]

This seems much closer to your original code, can you modify this so that it shows your issue please?

[2017-03-23 19:51] smaljaar commented on #48
@nap-sam-dean
The false positive only happens when you use NativeTestCase to run .feature files. Here is a zip that contains the files to show the issue. We stopped using self.recordFailure and just use XCTFail(message:) and pass the current step and test name as failure message, which works fine.

[DemoFalsePositive.zip](https://github.com/net-a-porter-mobile/XCTest-Gherkin/files/865985/DemoFalse

[2017-03-24 02:01] SpeedyNassir commented on #54
@nap-sam-dean  yep when you write test as you mentioned above without gherkin and steps it works fine.The issue is when we use Gherkin as below:

I have tried the below using Gherkin:
Swift feature file like:

class Demo: XCTestCase {

    func test0(){
    Given("App is opened")
    }
    func test1(){
        Given("App is opened")
    }
    func test2(){
        Given("App is opened")
    }
}

[2017-03-25 02:02] jacdevos commented on #49
This was resolved with the merging of PR #50 - and the ability to explicitly run Gherkin scenarios. Use the helpers NativeRunner.swift to achieve this now.

[2017-03-25 02:02] #49 closed

[2017-03-25 17:46] kerrmarin commented on #49
Awesome! Thanks @jacdevos

[2017-03-27 01:59] SpeedyNassir commented on #48
@smaljaar  @nap-sam-dean  The issue even occurs when you use swift feature files(Need not be native one). Please refer #54 for code snippet for same.

[2017-03-27 09:21] nap-sam-dean opened #55 "XCTestCase stubbed generator from native feature files"
A script which would run over a feature file and create a stubbed XCTestCase implementation in swift.

[2017-03-28 09:52] simonstewart opened #56 "Xcode 8.3 issue with class_getSuperClass"
All's been fine until this morning's update to Xcode 8.3.

Now the UI tests are failing with a "exc_bad_access" at line 35 of ClassHelperMethods.swift:
"if class_getSuperclass(currentClass) is T"

Enabling Zombie objects didn't give any additional output.

Anyone else using Xcode 8.3?

[2017-03-28 12:40] nap-sam-dean commented on #56
Hey.

It's very strange, this method seems to have stopped working for WebKit classes :| Anyway, I've fixed it in this PR - https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/57

Can you take a look and see if this is OK?

Thanks,
S

[2017-03-28 12:44] simonstewart commented on #56
@nap-sam-dean glad I'm not the only one!

[2017-03-28 15:07] nap-sam-dean commented on #56
I've also made a SO question to see if anyone else has seen this issue: https://stackoverflow.com/questions/43073087/crash-casting-wknsurlrequest-as-other-type

[2017-03-28 16:47] kerrmarin commented on #56
🤔  just a thought here, but looking at that question it looks like `WKNSURLRequest` is a "private" class. If you do the same for any other WebKit class that's actually exported by the WebKit module there is no crash. e.g.:

[code]

[2017-03-28 16:51] nap-sam-dean commented on #56
I thought that, but why only WebKit private classes - I'm listing through _all_ the loaded classes and I just don't believe they're all public :) And I couldn't think of a way to exclude private classes before I tried to cast them :| There's something special going on inside these classes that isn't in any others :|

[2017-03-28 17:58] nap-sam-dean commented on #56
I've released version 0.10.0 with this fix in - @simonstewart can you update the pods in your app, and if this is fixed please close this issue? Thanks!

[2017-03-28 17:59] nap-sam-dean commented on #38
@ollitapa Hi - is this issue fixed? (there's a PR for carthage here https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/47 but I don't use carthage so I don't know if it's working!) If this works with carthage now can you confirm so we can close this issue please? Thanks!

[2017-03-30 17:48] ollitapa commented on #38
I can confirm the Carthage installation works.

[2017-03-30 18:18] #38 closed

[2017-03-30 18:46] nap-sam-dean opened #58 "Add swiftlint* to keep coding style consistent"
\* or similar

[2017-03-30 18:56] kerrmarin commented on #58
Is there a reference `.swiftlint.yml` for style or do we just go with the default?

[2017-03-30 19:02] kerrmarin commented on #58
Also is it worth mentioning how we'd like this implemented? AFAIK there's two main ways of installing `swiftlint`: Homebrew and cocoapods -- presumably we only want homebrew support, since we don't necessarily want to have projects that depend on XCTest-Gherkin to have to install swiftlint... or do we?

And if we do go with the homebrew approach, we should add a section to the Installation readme

[2017-04-01 20:29] nap-sam-dean commented on #58
Hey. My 2c

1) I'd use a swiftlint.yml which most matches how we have coded so far, so it has minimal impact. I'm more interested in preserving consistency instead of forcing a standard on contributors.

2) I'd start with home-brew, mostly because travis CI (xcode8.3 image) has 0.17.0 pre-installed, which is the latest version. As swiftlint gets updated we might revisit this decision, depending on

[2017-04-01 20:31] nap-sam-dean opened #59 "Update CI to run xcode8.3 image"
This should just be a trivial s/xcode8.2/xcode8.3 in the .travis.yml config file

[2017-04-01 20:34] nap-sam-dean commented on #11
I'm closing this because we think it's fixed and the OP has gone quiet on the matter.

[2017-04-01 20:34] #11 closed

[2017-04-04 11:09] nap-sam-dean opened #63 "Audit the liberal use of `open`"
We're marking lots of things as `open` when I don't think they need/should be i.e. the `step(_:file:line:function:)` methods in StepDefiner. They should be public, but I don't see why they need to be overridable.

I think the Xcode auto migrate tool has been a bit liberal, and I should probably have checked more closely!

[2017-04-05 02:54] #59 closed

[2017-04-05 12:18] smaljaar opened #66 "Using NativeTestCase does not execute tests since initialise method change"
There was a warning in Xcode 8.3 in NativeTestCase.swift
`Method 'initialize()' defines Objective-C class method 'initialize', which is not guaranteed to be invoked by Swift and will be disallowed in future versions`

@kerrmarin implemented an alternative in https://github.com/net-a-porter-mobile/XCTest-Gherkin/commit/f7d59064fe20006077a378b3a1876e8711438e23 which removes the warning, but this doe

[2017-04-05 16:12] kerrmarin commented on #66
Hey @smaljaar! Thanks for reporting this. This is my bad, I have to admit I didn't realize my "fix" was being lazily initialized. I'll fix it in an upcoming PR, close this when it gets merged and then make a new issue to discuss removing `NativeTestCase` and replace with `NativeRunner`.

[2017-04-06 04:02] kerrmarin opened #68 "Swift 3.1 deprecated `+ initialize` in Swift classes"
# Context

Since upgrading to Xcode 8.3 and Swift 3.1, we encounter the following warning:

`Method 'initialize()' defines Objective-C class method 'initialize', which is not guaranteed to be invoked by Swift and will be disallowed in future versions`

Currently the `NativeTestCase` relies on behaviour provided by `+ initialize` to work.

Since we merged #50, `NativeTestCase` and `NativeRunner` ha

[2017-04-06 09:39] smaljaar commented on #55
Do you mean the Gherkin feature files are converted to Swift style gherkin files, or do you mean to generate StepDefiner subclasses with template step definitions? Just to be sure I understand what you exactly want to achieve here. Some thoughts:

1. Would you then throw away the native Feature File afterwards, or would you need to keep it around?
2. What happens when the feature files (we share t

[2017-04-06 09:44] smaljaar commented on #68
**Use case:**
Before we had NativeRunner we struggled with executing a single scenario from Xcode. This problem is solved by the NativeRunner. Still, I like NativeTestCase for how it reuses the Gherkin scenario definition automatically in the XCTest test method name, therefore resulting in nice reporting. If you were to convert that to NativeRunner you once again have to write the scenario name in

[2017-04-08 19:31] kerrmarin commented on #66
This was fixed by #67

[2017-04-08 19:31] #66 closed

[2017-04-11 09:14] #56 closed

[2017-04-11 09:15] nap-sam-dean commented on #56
We can't reproduce this after merging #69, so marking this as closed.

[2017-04-12 07:40] nap-sam-dean commented on #35
@kerrmarin I guess this can be closed now #65 is merged?

[2017-04-12 15:19] kerrmarin commented on #35
Yup

[2017-04-12 15:19] #35 closed

[2017-06-27 11:25] smaljaar opened #70 "Xcode 9: improved logging of native Gherkin"
# Issue
Native Gherkin lines are not clearly traceable in Xcode results output

# Solution
New XCTContext.runActivity API in XCTest introduced in Xcode 9 makes it possible to wrap everything together that is executed within a native Gherkin step 🎉. See screenshot:

![xctest-gherkin-xcactivity 001](https://user-images.githubusercontent.com/2170746/27585304-0127cafa-5b3c-11e7-9724-cda36b548592.jpeg)

[2017-06-27 12:45] nap-sam-dean commented on #70
Love it! (Also, didn't know it existed until now!)

My only issue is backwards compatibility - is there a way that we can determine whether this is available and fall back to the legacy approach if it isn't? I don't know how quickly other uses of this library will move to Xcode 9 :|

[2017-07-01 03:14] kerrmarin commented on #70
This is amazing 😍

[2017-07-25 10:13] saulbaro opened #71 "Fix for crash in ClassHelperMethods isn't available on the latest pod"
Version 0.10.2 doesn't include commit 17ec271b148d6e831042d3f34162c6039590039c with the changes to `ClassHelperMethods.swift`. Our project tests fail due to that crash, and even if we have been able to work around this by pulling the latest master, it'll be nice to have a pod version to point to.

I can create a PR with a version bump myself to 0.10.3 if everyone is ok with it. Just wanted to chec

[2017-07-25 10:58] nap-sam-dean commented on #71
I honestly thought I'd released that already (which tell you everything you need to know about our roadmap!)

A PR is very welcome :)

[2017-07-25 14:49] saulbaro commented on #71
I've created the PR and I did all the steps listed in the [docs](https://guides.cocoapods.org/making/making-a-cocoapod.html#release), but since I have never published a pod I may have missed something.

[2017-07-25 15:48] #71 closed

[2017-07-25 15:53] nap-sam-dean opened #73 "Add a CONTRIBUTING.md"
Include how to update the changelog

[2017-07-25 15:55] nap-sam-dean commented on #71
Hey.

That's pretty much it :) We usually update the changeling as well, but I realize that we don't have instructions to do that, so I've made an issue to get that fixed :)

I'll release this as soon as the CI is happy with master :)

[2017-07-25 18:46] nap-sam-dean commented on #71
OK, 0.10.3 is released :)

[2017-07-31 19:57] naudecruywagen opened #74 "Crash in ClassHelperMethods.swift"
Hey guys,

I am experiencing a crash when trying to run tests with the GoogleTagManager cocoapod added to my project.

I've attached a sample project that demonstrates the issue.

Steps to reproduce: (the easy way)

1. Open the attached project's workspace - GherkinCrash.xcworkspace
2. Run the tests: ⌘+U
3. Observe the crash

Steps to reproduce: (the harder way)

1. Create an Xcode project.
2. Add

[2017-08-01 02:46] kerrmarin commented on #74
This looks a lot like https://github.com/AFNetworking/AFNetworking/pull/2294 🤔

[2017-08-01 02:58] kerrmarin commented on #74
I'm still not sure what causes this, but as a work-around, you can get around this by not linking the `GoogleTagManager` to the test target, e.g.:

[code]

[2017-08-01 08:23] nap-sam-dean commented on #74
We've run into this before, and thought we'd fixed it - https://github.com/net-a-porter-mobile/XCTest-Gherkin/issues/56

Looks like we were wrong :)

The other fix is to move to xcode9 (oddly, it doesn't crash then) but I guess that's not a great fix for you :|

[2017-09-10 07:34] naudecruywagen commented on #74
Sorry for the long silence.

@kerrmarin unfortunately this is how the Podfile looks already and it still crashes.

@nap-sam-dean Xcode 9 is also not an option for us yet, but if push comes to shove we'll probably have to do this...

Any other ideas?

[2017-10-03 09:33] zacoid55 commented on #74
@naudecruywagen I had this problem as well as I ran `gem update` by mistake and I quit out of it prematurely. Have you tried switching to another version of Ruby to test this?

[2017-10-03 20:01] deanWombourne commented on #74
Hi, I'm currently looking into a similar bug I get in xcode9 iOS 11, I'll keep you updated how I get on.

[2017-10-04 19:02] deanWombourne commented on #54
Hey @SpeedyNassir - if your fix has worked for you can we close this issue?

Though I would recommend totally replacing self.recordFailure with XCTFail and passing in the line and file as well i.e. just use `XCTFail(message, file: file, line: line)` instead of the self.recordFailure line.

[2017-10-05 09:39] deanWombourne commented on #68
Hi everyone - this is a real issue now because in swift 4 it's moved from deprecated to forbidden :(

[2017-10-05 10:20] deanWombourne commented on #70
@kerrmarin @smaljaar Given we can't migrate to swift4 just yet (see #68, sigh) and xcode9 is live now, what do people think about just removing the version check (sorry, I know I was the one who asked for it in the first place!) and upping the version number to 0.11 ?

[2017-10-05 16:22] kerrmarin commented on #70
Sound good to me. I did have a crack at #68 a while back but I got busy and it took a back seat. I'll see if I can think of something this weekend.

[2017-10-05 18:59] deanWombourne commented on #70
Great - done here: https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/78

[2017-10-05 19:00] deanWombourne commented on #70
I had a go at 68 too; I tried to write that bit in objective-c but I couldn't get the pod to build with a combination of swift and objc :(

[2017-10-05 20:31] deanWombourne commented on #70
Right, this is in master, and tagged as 0.11.0 - it's pushing to the pod trunk repo as we speak, but over my home internet so give it a while. When it's pushed, I'll close this issue.

[2017-10-05 20:58] #70 closed

[2017-10-05 21:02] deanWombourne commented on #74
Hi @naudecruywagen - do you still have this issue. We've got a potential fix, but the release it's fixed on requires xcode9 :( Can you try checking out commit 5aa806d and see if that works for you in Xcode 8?

[2017-10-05 21:03] zacoid55 commented on #74
@deanWombourne any ideas of when the next release might be?

[2017-10-05 21:04] deanWombourne commented on #74
Right now - I've just released 0.11.0 :)

[2017-10-06 08:17] deanWombourne commented on #73
Yea, this was done a year ago. Sigh.

[2017-10-06 08:17] #73 closed

[2017-10-06 08:20] naudecruywagen commented on #74
Hi @deanWombourne, I have checked out [5aa806d](https://github.com/net-a-porter-mobile/XCTest-Gherkin/commit/5aa806dd2163b481163c999accd2d6530990b566) and I can confirm it is not crashing for us in Xcode 8 anymore.
Thanks a million!

[2017-10-06 09:10] deanWombourne commented on #74
OK, I've released that commit as 0.10.5, and I'll close this issue. Thanks for your help!

[2017-10-06 09:10] #74 closed

[2017-10-10 01:48] kerrmarin commented on #68
@smaljaar #80 is an attempt to resolve this, if you'd like to take a look

[2017-10-14 09:07] smaljaar commented on #68
@kerrmarin awesome, I wanted to test this but noticed but pod version isn't updated yet, could you or @nap-sam-dean plz bump the pod version?

[2017-10-14 10:08] deanWombourne commented on #68
@smaljaar Just released as version 0.12 :)

[2017-10-16 10:50] bartzet commented on #3
Hey Guys,
There is a Cucumberish library: https://github.com/Ahmed-Ali/Cucumberish / https://github.com/Shashikant86/XCFit that supports tags maybe worth looking at it and apply solutions to XCTest-Gherkin?

[2017-10-17 03:05] depoon commented on #3
Was a huge fan of XCTest-Gherkin when i first saw it... but i've migrated over to Cucumberish

[2017-10-17 08:17] bartzet commented on #3
@depoon what was the main reason you have chosen Cucumberish over XCTest-Gherkin?

[2017-10-17 16:29] kerrmarin commented on #3
Thanks for the pointers @bartzet -- we'd be happy to look at a pull request that implements tags as this seems like a widely requested feature.

@depoon I'd also be super keen to learn why you migrated over :)

[2017-10-18 02:58] #58 closed

[2017-10-31 17:12] zacoid55 opened #83 "Upgrading to swift 4"
I've tried to change the pod project to Swift 4 but obviously I don't have the rights to push up a branch - is there any reason as to why this pod shouldn't be bumped?

[2017-11-01 03:15] SpeedyNassir commented on #54
Closing issue, Similar is tracked under #48

[2017-11-01 03:15] #54 closed

[2017-11-01 21:04] kerrmarin commented on #83
Hi @zacoid55, we'll be happy to review a PR for Swift 4 support.

[2017-11-01 21:04] #68 closed

[2017-11-02 16:59] #83 closed

[2017-11-07 18:16] jgonfer opened #85 "Swift 4.0.2 support isn't available on the latest pod"
Hi mates! I want to use the latest [version 0.12](https://github.com/net-a-porter-mobile/XCTest-Gherkin/releases/tag/0.12.0) in our project but I'm not able because the project crashes. The commit https://github.com/net-a-porter-mobile/XCTest-Gherkin/commit/4d2a39095bf849d8c8e4dabc692719b846c259aa includes all the necessary changes to fix the crash.

Do you have plans to release the next version?

[2017-11-07 21:15] kerrmarin commented on #85
@deanWombourne can you release version 0.13, please?

[2017-11-07 21:56] deanWombourne commented on #85
@kerrmarin  Sure - though you know you have permissions to push this pod up as well (I think - if not, we should give them to you!)

[2017-11-07 21:58] deanWombourne commented on #85
@kerrmarin Wait, no - the second account isn't you, it's my net-a-porter.com email. sigh.

[2017-11-07 22:25] deanWombourne commented on #85
OK, that's pushed as 0.13.1 (don't ask about 0.13.0, sigh)!

There's a few warnings about string.characters so I'll fix that and push out a 0.13.2 this evening.

[2017-11-07 22:25] #85 closed

[2017-11-07 22:34] jgonfer commented on #85
Thanks a lot! 👏

[2017-11-07 22:34] deanWombourne commented on #85
Here are the changes to remove the swift 4 warnings please? https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/87 - when this is approved I'll get it into master and released :)

[2017-11-08 10:32] deanWombourne commented on #85
FYI: I've just pushed up version 0.13.2 which removes the compiler warnings :)

[2017-11-08 10:37] jgonfer commented on #85
Thanks @deanWombourne, I've already updated the podfile with 0.13.2 😉
 Great job guys! 👏

[2017-11-09 12:00] JasonDobo opened #88 "Release 0.13.2 Swift compile error"
After updating to 0.13.2, all test runs started to have the following compile errors. Nothing else in the code has changed.
I got it working for now by going back to 0.12.0 in the podfile.

**Swift Compile Error:**
Pods/XCTest-Gherkin/Pod/Core/ClassHelperMethods.swift:53:46: Cannot convert value of type 'AutoreleasingUnsafeMutablePointer<AnyClass>' (aka 'AutoreleasingUnsafeMutablePointer<AnyObject

[2017-11-09 12:05] jgonfer commented on #88
Maybe you need to use **Xcode 9.1** which has Swift 4.0.2 support, because 0.13.2 is supporting that version as I reported in the issue https://github.com/net-a-porter-mobile/XCTest-Gherkin/issues/85.

[2017-11-09 13:49] JasonDobo commented on #88
I am using Xcode 9.1

[2017-11-09 13:51] deanWombourne commented on #88
Has your project migrated to Swift 4, or is it still using Swift 3? The error messages you're seeing look like you're compiling this library as a swift 3 project, not as swift 4. Version 0.12.0 is the last swift 3 version (assuming no catastrophic bugs) which is why that version works and 0.13.xx versions don't.

[2017-11-09 14:03] JasonDobo commented on #88
The team is saying the project is Swift 4, but I'll go through and check all the targets

[2017-11-09 14:10] deanWombourne commented on #88
Oh, that's interesting (read, surprising!). The project (and this libraries target) will be create automatically by cocoa pods (`pod install` etc) - which version of cocoa pods are you using so we can try to replicate this?

Also, you might have to force the swift version for specific pods (ours in this case) to a specific version - there's a post commit hook out can add to your pod file from this

[2017-11-09 14:47] JasonDobo commented on #88
The podfile is getting the latest version of XCTest-Gherkin. I found the problem one of the targets was still set to Swift Language Version 3.2. Thank you for your help

[2017-11-09 14:48] JasonDobo commented on #88
Cocoa pod version is 1.3.1

[2017-11-09 14:48] #88 closed

[2017-11-09 15:02] deanWombourne commented on #88
No worries, glad we could help.

[2017-11-14 13:35] zacoid55 opened #89 "Using XCTestSuite in conjunction with XCTestCase"
I'm sure you've already looked into this but is there any reason as to why the scenarios written using XCTest-Gherkin are separate XCTestCases within a XCTestSuite?

Just wondered if it might make controlling the full set of tests a bit easier? Giving you access to individual teardowns and startups for each case etc

[2017-11-14 13:41] zacoid55 commented on #89
(This is if, like me, your scenarios are all in one feature file)

[2017-12-11 13:53] MartijnSchoemaker opened #90 "Error multiple step definitions while there aren't"
I have for example these steps defined:

[code]

In the feature file I use this step: "This is a cool test step with extras".
This leads to an error "Multiple step definitions found for: This is a cool test step with extras".

In the source I saw that this is caused by de regex to find the step definition.

[2017-12-11 14:05] zacoid55 commented on #90
We've been looking into the same thing recently and although it looks like it should happen on `firstMatch` of the whole string, it seems to pick a point where it deems it a duplicate if another step is close to it.

[2017-12-11 14:09] MartijnSchoemaker commented on #90
Yes but it does first match on `This is cool test step` in `This is a cool test step with extras`

`if let match = step.regex.firstMatch(in: expression, options: [], range: range) {`

step = "This is cool test step"
expression = "This is a cool test step with extras"

[2017-12-11 14:36] deanWombourne commented on #90
Can you remove ambiguity by adding the end of string capture flag to the first step?

[code]

[2017-12-11 17:13] #90 closed

[2017-12-11 17:23] kerrmarin commented on #89
Hey @zacoid55. Sorry for the late reply. I personally hadn't considered having all scenarios in one feature file. I usually divide feature files by functionality. Would you mind elaborating a little more on what the issue you're having is? I'm not 100% sure I understand.

[2018-01-04 14:35] #89 closed

[2018-01-19 22:17] JoseSanchezMirandaRos opened #91 "[Feature Req] Catch Ambiguous matches."
It's be nice if the suite would tell you if a step is too similar to the next one. In this case, it reads the third step and executes the second step again.  Screenshots attached.
<img width="456" alt="screen shot 2018-01-19 at 2 17 07 pm" src="https://user-images.githubusercontent.com/10212034/35174229-78da3bda-fd23-11e7-9349-e51555830bfb.png">
<img width="790" alt="screen shot 2018-01-19 at 2 17

[2018-01-27 17:49] kerrmarin commented on #91
Hi @JoseSanchezMirandaRos. Thanks for the report. The easiest way to get around this problem is to use a start and end delimeter for your regular expression. Change `I tap the (.*) button` regex to `^I tap the (.*) button$`. That will remove the ambiguity.

[2018-01-27 17:49] #91 closed

[2018-01-30 18:15] JoseSanchezMirandaRos commented on #91
No worries, thanks for the hard work! very happy I found this.

[2018-01-30 19:48] tomesm opened #92 "Carthage support"
Hi I am wondering if there is a plan to create and share Carthage files with you library. We do not use pods in our team.

[2018-01-30 20:27] kerrmarin commented on #92
Hi @tomesm, I'm not sure I understand your question but XCTest-Gherkin should be compatible with Carthage, you just have to add it to your Cartfile like: `github "net-a-porter-mobile/XCTest-Gherkin" == 0.13.2`.

[2018-01-30 21:07] #92 closed

[2018-01-30 21:10] tomesm commented on #92
Ok. I had no idea that the project is compatible with Carthage. Perhaps it would be worth mentioning in the "Install" section of the README.

[2018-01-30 21:12] kerrmarin commented on #92
Great idea :) https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/94

[2018-02-05 18:32] tomesm opened #95 "Step not executed when poorly named"
I am experiencing a strange issue.

If I have a step named as "I tap email button" it is simply not executed. It is not matter if it is Given/And/When/Then ... step("I tap email button") {...} is simply not executing.

The problem is "email button". If you put these two words in any existing step names, the step is simply not executed. Which is quite disturbing if you need to test inputs for... em

[2018-02-05 18:57] kerrmarin commented on #95
Hey @tomesm can you please upload/show us a project that has this issue? Thanks!

[2018-02-05 19:35] tomesm commented on #95
@kerrmarin There is EmailTestSteps class: https://pastebin.com/PmVKtabU

And here WelcomeFeatureSteps class: https://pastebin.com/6hxYjres

I have finally figured out what is happening. The problem is substring "email button". If the same substring is present in several steps in several Classes, it causes a problem.

If I execute EmailTestSteps the **step("I tap email button")** is not executed. I

[2018-02-05 19:58] kerrmarin commented on #95
Hey @tomesm, the reason you're getting that error is because there is ambiguity between your steps, and the step resolver executes the first step it finds that 'matches' your regular expression. To fix this, you can change your steps to be more specific e.g. change your step for 'email button' to `step("^email button$") {`. This will remove the ambiguity and the correct steps will be run. Let me k

[2018-02-05 19:58] #95 closed

[2018-02-05 20:00] kerrmarin commented on #95
Also, this is the most popular issue we get, I'd love to hear if you have some feedback on how we can make this more explicit to the user so it's obvious to a user of this library that there is ambiguity caused by loose-fitting regular expressions.

[2018-02-06 10:37] deanWombourne commented on #95
I wonder if there is a more reasonable choice the library could make when there is ambiguity? i.e. If we have two steps

`i tap email button`
`email button`

and we try to match `I tap email button` then it would make more sense to match the first step, not the second? Though I don't know what the rules here would be - amount of matched text perhaps?

[2018-02-06 13:32] tomesm commented on #95
@kerrmarin Well, this might help as a short-term solution but its actually sucks :) Consider 5 or more steps for testing several kinds of checkboxes. The step will contain several

`checkbox on` or `checkbox off` substrings... in a big project (and the one I am working on is pretty huge) I will run out of special characters soon :)

Checking the length of the string as @deanWombourne sugessts woul

[2018-02-06 17:34] kerrmarin commented on #95
Hey @tomesm, sorry I think I didn't explain enough. The `^` and `$` aren't just any special characters, they're regular expression delimiters for start and end of string (see: https://www.regular-expressions.info/anchors.html). Steps are matched using regular expressions, so by using the anchors you are telling the step that it _must_ match a string that starts at the character after `^` and ends

[2018-02-06 17:36] deanWombourne commented on #95
`step("I tap email button", exact: true`) { ... }` ?

[2018-02-06 17:39] deanWombourne commented on #95
Ideally we want to preserve the ambiguity, not because we want the ambiguity, but because we don't know how many other users of this library are relying on this without knowing it :) For every ambiguous step reported as not working, I bet there are others where it chooses the right one so we never hear them!

[2018-02-06 17:58] tomesm commented on #95
@kerrmarin ok now I understand. Thanks for explanation. I am a junior developer and I am not familiar with regular expressions. In this case we can solve this with exact matches and thats it.

@deanWombourne perhaps another README update with a simple note about regex usage would be enough (or put an example into an Example project).

[2018-02-06 20:25] deanWombourne commented on #95
@tomesm Don't worry about not being familiar with regular expressions, they're a vast nightmare and will always surprise you in new and exciting ways! I've made a PR with your suggestions in here: #96 if you're interested / have feedback.

[2018-02-10 09:31] tomesm opened #97 "Feature request: run scenarios separately with Native"
Hello, its me again :)

One of main advantages I can see for using the Core is an option to run each scenario (implemented as a function) separately. But using Core needs manual writing which kinda sucks.

Native allows automation. Tests runs automatically but debugging optionsare limited here (as written in the README).

Is it possible to enhnace Native implementation with an option to run scenar

[2018-02-15 20:09] kerrmarin commented on #97
Hey @tomesm. This is something I've run into as well. Because we create the tests at runtime they are classified as 'runtime tests' and Xcode only lists them in the test inspector after the first time you've run them. We've toyed with the idea of generating tests from feature files before e.g.:
Given the following feature file:
[code]

run a command that will output `BasicTests.swift` with:

[code

[2018-02-16 10:16] deanWombourne commented on #97
We've also tried a few other things with very little success (i.e. tags - https://github.com/net-a-porter-mobile/XCTest-Gherkin/issues/3). It would be really nice to be able to support (somehow) passing in a tag (or even scenario name), ideally on the command line so CIs can run subsets of tests as well as just while debugging. However, I just can't work out a good way to do it!

[2018-02-16 10:17] deanWombourne commented on #97
This has also been raised before here - https://github.com/net-a-porter-mobile/XCTest-Gherkin/issues/55 - are these the same issue?

[2018-02-16 10:19] deanWombourne commented on #55
1. I would keep them around, but it would be up to the user of the library if they wanted to version control them of just discard them after the test run.
2. I would hope that it could create these on the fly (i.e. as a build script?) so if you wanted you could breakpoint them etc, but they would be kept in sync with the feature files.

[2018-02-16 10:40] tomesm commented on #55
It would be good to keep the .feature files. We want to version them:

Imagine there is a new version of gherkin tests - eg. new scenario in a .feature file - than the tests run and they fail. This alarms the developer and he needs to implement the new scenario. This would prevent updating the .feature file without noticing. At least I hope :)

[2018-02-16 10:40] tomesm commented on #97
@deanWombourne yes this looks like pretty much the same request.

[2018-05-24 10:20] obrizan opened #99 "Error during compilation with XCode Version 9.3.1 (9E501)"
When compiling XCTest-Gherking v. 0.14.0 with XCode Version 9.3.1 (9E501) I got:

[code]

[2018-05-24 12:35] deanWombourne commented on #99
How annoying - I don't get any updates for Xcode but I'm still on 9.3.0 so I'm downloading the 9.4 beta to see if I can replicate this issue there.

Which version of Swift is bundled with 9.3.1? (`swift --version` on the command line will tell you).

[2018-05-24 13:57] deanWombourne commented on #99
OK, that's even more strange - that's the version I'm on, and it compiles fine :|

[2018-05-24 17:33] deanWombourne commented on #99
I've just built and tested with Xcode 9.4 and it seems to work for me? I can't seem to reproduce this at all :|

[2018-06-06 06:17] MartijnSchoemaker opened #101 "AWS Device Farm doesn't recognise tests"
Last time we implemented a lot of tests with XCTest-Gherkin. They are running smooth on a local machine. Now we want to run the tests in AWS Device Farm, they support XCTest UI, so our tests should run there.

But when I upload our UITests-Runner ipa to AWS and start the app, the tests are no recognised and no tests did run. At first I thought is has something to do with inheritance; if the class

[2018-07-09 10:54] marekpridal opened #103 "Unable to call test method from another method"
Hi, I have found an issue during writing tests using Gherkin. I need to call multiple test methods from one single method but it crashes here with unexpected `nil` in `self.invocation`

[code]

I have test func with this body

[code]
and calling method in this class
[code]

is here any solution?

Thanks a lot! 🙌

[2018-07-09 11:10] SpeedyNassir commented on #103
Does this helps ?
`
class TestStepDefiner: StepDefiner {
override func defineSteps() {
step("testLoginSuccess")  {
self.step("Launched app")
self.step("I fill password qawsed")
self.step("I tap on Login button")
self.step("I see toolbar with title After login")
}
}
}
`

[2018-07-09 11:12] marekpridal commented on #103
I have these steps defined in one single file

[code]

[2018-07-12 22:30] ilyapuchka opened #104 "Steps always refer first test that was run"
Steps definers are loaded only once, when first test is started, so they will keep the reference to it. When next step starts this reference is not updated, so if steps definers try to use it to access any property of currently running test case they will actually get values from previous tests. We are using `launchArguments` property in our XCTestCase subclasses to configure the app and some step

[2018-07-13 12:22] deanWombourne commented on #104
Hey. I'm hesitant to redefine all the steps each test run because I don't know the cost of doing that (it would depend on what all the other users o this library are doing in their StepDefiners!) - but it does seem like tying all the step definitions to one initial test seems the wrong thing to do!

Can you post a minimal example of the issue you're facing - that way I can have a play around and m

[2018-07-13 12:33] ilyapuchka commented on #104
It's not the problem of re-registreing all steps, just updating the reference to current test. Probably you can utilise `XCTestObservationCenter` for that.
Here is a basic example:

[code]

When both tests are run the second test will fail because app will not get all launch arguments. When `testSecond` is calling `"app is launched with some parameter"` step, the step still has a reference to `tes

[2018-07-13 13:09] deanWombourne commented on #104
OK, I had trouble getting your example to reproduce the bug (don't ask, had a fight with XCUIApplicatoin().launchArguments! ) but think this reproduces it as well:

[code]

Also, that's now a test case in the library, so I have something to work against :) `testFirst` passes, and `testSecond` fails, due to the bug you've found where test second is still looking at the first test instance :|

Let m

[2018-07-13 13:17] deanWombourne commented on #104
^ Excuse the edit - I've narrowed it down into a minimal test case (which can now be ran as a unit test so that make fixing it much faster ;)

[2018-07-13 13:18] deanWombourne commented on #104
Sorry, pressed the wrong button - definitely didn't mean to close it!

[2018-07-14 21:21] #104 closed

[2018-07-14 22:02] deanWombourne commented on #104
FYI: I've just released this as version 0.14.1 so a pod update should fix it :)

[2018-07-20 13:10] obrizan commented on #99
In 9.4.1 works fine, I'm closing the issue.

[2018-07-20 13:10] #99 closed

[2018-08-09 12:18] deanWombourne opened #109 "Support swift package manager"
This shouldn't need any code changes, just adding a package.swift pointing at the right places for the source code.

Our primary method of distribution will still be cocoapods, so we should leave everything in the default place for that and create a custom swift package manager config.

[2018-08-10 21:32] ilyapuchka opened #111 "Steps discoverability issue"
When it comes to writing new test it might be challenging to find the right step to use, especially being unfamiliar with already existing tests. Using page objects and corresponding step definers helps but still can be not enough in large projects.

Another issue with steps being defined as strings is a way to discover them - it is only possible from Find Navigator, you can't simply navigate to t

[2018-08-23 09:55] kerrmarin opened #117 "Give @ilyapuchka merge access"
Hey Sam, since @ilyapuchka has been really pushing this forward the past few weeks I think it would be nice if he had merge access - if we can't do this because we're still under the NAP umbrella perhaps this is a good time to fork into our own org?

[2018-08-26 12:03] ilyapuchka commented on #117
Yes, that would speed up a process for me definitely. We are using XCTest-Gherkin for automation on my current project and I'm working on improving our experience with automation tests, so contributing here will be important.

[2018-08-27 11:45] ilyapuchka opened #124 "Different behaviour for ambiguous steps in feature files and native tests"
I noticed that there is currently different behavior when it comes to validating steps in `NativeScenario` and native tests. In native tests, there is no error because the first match is picked up, but in `NativeScenario` it results in ambiguity. Here is the example:

[code]

It is definitely possible to rewrite those two steps to avoid ambiguity but I think framework should behave the same way in

[2018-08-27 21:52] ilyapuchka commented on #55
On my current project, we are not using feature files bit that's something I'm actively looking into

For templating purposes, we can use [Stencil](https://github.com/stencilproject/Stencil). I already have a WIP implementation, but it depends on a few other changes that should go in first (i.e. #119)

This can improve a lot the workflow when using feature files as we could use the same command li

[2018-08-30 09:35] #41 closed

[2018-09-03 21:08] deanWombourne commented on #117
@ilyapuchka You should get an invite soon :)

Just out of interest what's the project you're working on at the moment?

[2018-09-03 21:10] ilyapuchka commented on #117
Thanks, got it!
It's [babylon health](https://www.babylonhealth.com).

[2018-09-04 09:30] #117 closed

[2018-09-09 15:10] ilyapuchka commented on #111
@deanWombourne @kerrmarin I've created a [simple ruby script](https://gist.github.com/ilyapuchka/4c95cbd8f0206a55d724e1271acc70cb) to do that, slightly changed type of snippets created to have a better code completion.
The main caveat is that you have to restart Xcode for new snippets to appear. There is no workaround for that.

I'll close this issue but let me know if you'd like to add this to th

[2018-09-09 15:10] #111 closed

[2018-09-27 13:27] ilyapuchka opened #138 "Using undefined variables in outlines should cause precondition failure"
Currently, when using the wrong variable in scenario outline, it is left unchanged in the step expression, resulting in the step being invoked with a placeholder as a value which then may lead to test failure. Instead if should raise precondition as this is a programmer error to use wrong variable name in steps. I.e.

[code]

[2018-09-27 13:28] deanWombourne commented on #138
Great idea :)

[2018-10-02 18:35] deanWombourne opened #141 "Release version 1"
I recently received an email with the (very reasonable) question as to why this library isn't at version 1. All the reasons I had to not do this have gone away, so should I release a version 1?

Thoughts? @kerrmarin @ilyapuchka

As far as I can see, the only real downside is that we would have more pressure to keep the api backwards compatible - but that's something we are doing anyway!

[2018-10-02 20:45] ilyapuchka commented on #141
@deanWombourne we don't have all the features of Cucumberish yet but api seem to be pretty stable. I would hold it though until #131 is resovled and data tables are implemented - I have branch ready for PR, as they might change behaviour a bit.

[2018-10-02 20:46] #138 closed

[2018-10-02 20:48] ilyapuchka commented on #141
Same about #132 and #122 though the last one does not change existing behaviour, though we may choose to drop current one in favour of this (though that's not my intention)

[2018-10-08 08:49] kerrmarin commented on #141
I'm happy releasing v1, although we're not currently using this library at work anymore so I'm more disconnected from the state of the project than I'd like to be so take my opinion lightly :). Great work on all the new feaetures/fixes lately though @ilyapuchka

[2018-10-08 09:00] deanWombourne commented on #141
@kerrmarin "Close and comment" 😄 ?

[2018-10-25 10:05] cameroncooke opened #142 "Support for non-regex step matching"
Coming from Cucumber and Ruby I noticed that step matching is done only using regular expressions.

In Ruby you can step match using string literals or regex literals (something Swift doesn't have).

We had a bug recently when porting out Ruby Cucumber tests to `XCTest-Gherkin` where we were unaware that `Step("Blaaa")` was actually using regex behind the scenes. This meant that multiple step defi

[2018-10-25 11:18] kerrmarin commented on #142
This has actually come up a few times, or at least enough times that we added a section to the readme: https://github.com/net-a-porter-mobile/XCTest-Gherkin#ambiguous-steps

[2018-10-25 11:21] kerrmarin commented on #142
I think if we were to add support for this it would have to be in a backwards-compatible manner e.g. the default would be regex. It would be a shame to potentially break a lot of other project's tests for this.

[2018-10-25 11:37] cameroncooke commented on #142
Yeah, I thought that would probably be the case. I feel like there is probably a good reason to do this but due to the fact that it would require a breaking change not sure how much value a non-breaking implementation would have.

[code]

Or something equivalent just seems wrong to me. Ideally overloading `Step()` makes the most sense but won't be possible without breaking current implementations

[2018-10-25 12:07] kerrmarin commented on #142
Another option is to add a default parameter `exactly: Bool` to the `Step` function whose default value is false, and if true then do string matching (by simply wrapping the given string in regex delimeters). You could do this as part of your project by subclassing the `StepDefiner` and providing a custom implementation of `step`. E.g.

[code]
☝️ I didn't test this

[2018-10-25 12:20] cameroncooke commented on #142
Yeah, that would work for us, though I have concerns about the underlying implementing using regex as it would not be clear to me what `exactly` does.

What if a user did this:

[code]

The start and end of line tokens twice would be included twice once explicitly and once implicitly.

That's kind of why I liked the idea of using the typing i.e. `Step(_ expression: NSRegularExpression)` and `Step(

[2018-10-25 21:35] deanWombourne commented on #142
I think we could mitigate this by just escaping the exact string via https://developer.apple.com/documentation/foundation/nsregularexpression/1408386-escapedpatternforstring?language=swift - and obviously a large set of tests to make sure we cover everything.

Though I would probably have formatted it like this if possible, just for readability:

[code]

Personally, I'm very against breaking backw

[2018-10-25 22:14] deanWombourne commented on #142
I couldn't sleep, so I out together a proof of concept for this: https://github.com/net-a-porter-mobile/XCTest-Gherkin/compare/exact-matches?w=1#diff-a51cbc48d8632252d5745c3a8433334dR56 - let me know what you all think!

[2018-10-26 08:47] cameroncooke commented on #142
@deanWombourne Looks good to me and it certainly mitigates my concerns over allowing regex to be used. I would definitely use this for our tests and use the `Step(_ expression: String...)` method when we explicitly need the pattern matching.

I guess in the future as an alternative we could update the `Step` class or use a protocol and define another class to represent a Step that is backed by a S

[2018-10-26 13:57] deanWombourne commented on #142
#143 <- link the PR and the issue together :)

[2018-10-31 16:47] cameroncooke opened #145 "Undefined steps should be allowed?"
Currently, unimplemented steps result in a fatal error, this is the opposite to  Cucumber which allows unimplemented steps and entire scenarios.

It would really aid the development of tests if undefined steps were allowed, may be raised as warnings instead. In my opinion, this should be the default behaviour, but at a minimum a setting that we can toggle.

When porting our `.feature` files direct

[2018-10-31 21:50] deanWombourne commented on #142
@cameroncooke Hey - I've just released this as version 0.18.0 - can you check it out and make sure it fixes this issue and close it when you're happy please - thanks!

[2018-11-01 08:08] cameroncooke commented on #142
@deanWombourne Will do, thanks!

[2018-11-01 08:46] cameroncooke commented on #142
Works great, thanks!

[2018-11-01 08:46] #142 closed

[2018-11-02 18:44] cameroncooke opened #146 "Is it possible to expand a capture group into a custom type when using NativeTestCase?"
This is simplistic example but proves my point.

Given I have a feature file like:

[code]

and the step definition:

[code]

and the model:

struct Person: CodableMatchedStringRepresentable {
    let name: String
    ...
    func doSomethingToPerson() {
        ...
    }
}

In the above example the expression will be `I enter the name (Jill Smith)` and I would like to turn the String "Jill Smith"

[2018-11-07 12:05] cameroncooke opened #147 "Restarting app between scenarios in an outline (native parsing)"
When using native feature file parsing the current implementation treats a "Scenario Outline" and all the permutations as a single Test this means the test isn't torn down between runs and the app isn't therefore restarted.

This is causing problems for us as each test in our scenario outline expects to start from the same place. If the app doesn't restart we would have to unwind all the steps.

T

[2018-11-08 10:20] kerrmarin commented on #101
Probably due to the fact that the tests running on XCTest Gherkin are 'runtime tests' and the test classes are generated at runtime. I'd suggest opening a ticket with AWS.

Happy to look at a PR if you find the root cause is something related to this library.

[2018-11-09 10:51] #101 closed

[2018-11-26 13:06] ilyapuchka commented on #147
I think you might use `Background` to restart the app and restore its state. `Background` is called before each example run.

[2018-11-26 13:30] ilyapuchka commented on #146
@cameroncooke yes, in swift tests json string is encoded as part of the step expression and then decoded from this string. It might work if you write json structure in a feature file if you implement step so that it uses `Codable` parameter, but this was not tested specifically (we can add tests for that if it really works).

I think more proper solution though would be to support data tables - I

[2018-11-26 13:33] ilyapuchka commented on #145
@cameroncooke would you expect these steps do nothing, not even raise test failure?

[2018-11-26 13:33] #103 closed

[2018-11-27 04:32] EfrainAndres opened #148 "How to use Datatables in XCTest-Gherkin?"

[2018-12-17 17:30] ilyapuchka commented on #147
Without background you can do that with a simple extension to avoid repeating code that restarts the app. This is what we use in our tests:

[code]

[2018-12-17 17:30] #147 closed

[2018-12-17 17:45] ilyapuchka opened #151 "Allow to explicitly specify step definers to load"
Currently all step definers, as in subclasses of `StepDefiner`, are loaded by default before test case starts, which may require to make sure that steps expressions are not ambiguous and results in issues like #17
Probably the simplest solution to that would be to allow each test to specify what steps to load so that it loads only them.
This behaviour is also inconsistent in native and core tests,

[2019-01-06 10:48] jwelton opened #152 "Library not loaded: @rpath/libswiftSwiftOnoneSupport.dylib"
When integrating the library into a new project using Cocoapods, I'm getting the following runtime error:

[code]

This is my Podfile:
[code]

I've had this issues when integrating into a few different projects, however, I cannot remember how I resolved the problem in the past. When I figure it out, I'll be sure to post here.

[2019-01-06 20:59] deanWombourne commented on #152
Oh, sorry to hear you have trouble integrating our library! It should (in theory) just be a simple cocoa pods install, and as far as we know it doesn't do anything unusual which would cause runtime loader errors like this.

Do you have a trivial example project that we can take a look at - a zip upload, or a GitHub project for example?

[2019-01-06 21:07] deanWombourne commented on #152
Oh, do you have "Always Embed Swift Standard Libraries" set to YES or NO in your build settings (for both the app and the test targets?)

[2019-01-07 08:21] jwelton commented on #152
Sure. I've attached an example project that is giving me this error. Just document my steps:

- Create a new XCode project (10.01)
- For UITest target, set `Always Embed Swift Standard Libraries` to `default`. When creating a new project, XCode forces this to `YES`, which Cocoapods warns about when installing pods. The `default` setting for this is also YES, so in theory, this step doesn't change

[2019-01-08 11:15] jwelton commented on #152
Ah, that would make perfect sense! Thank you @deanWombourne, I'll give that a go in a little while and see if it fixes the issue.

[2019-02-27 22:02] kschillz commented on #152
It seems like this has been fixed in Xcode 10.2.

[2019-02-28 10:37] #152 closed

[2019-06-11 17:13] ilyapuchka opened #154 "Support tags with property wrappers"
I know there was some exploration done around tags and there was no progress so far, but I think the new property wrappers feature in Swift 5.1 would be a good way to introduce tags, both in native and feature file tests, so I'm eager to explore this option. Currently we use an ad hoc solution similar to tags where we add a suffix to the test name with an id of TestRail test case and then parse it

[2019-06-11 17:32] ilyapuchka commented on #154
Nevermind it, I keep forgetting that it's just property wrappers and not generic decorator annotations like in Python so it won't help unless the library implements tests differently =/

[2019-06-11 17:32] #154 closed

[2019-08-15 10:54] gbrhaz opened #156 "Asynchronous step definitions"
One of the common use-cases in tests is to set up your initial state.

There are a few options available to set up the state:

1) Use existing state (not viable because test environments get stripped down)
2) Utilise existing UI steps to set the state up appropriately (very slow; repetitive)
3) Make the necessary network requests to set up the state

Looking at the `XCTContext.runActivity` closure

[2019-09-17 14:13] jcavar commented on #3
It is possible to pass flag from `xcodebuild` using User-Defined Build settings.
This answer explains how it can be accessed at runtime:
https://stackoverflow.com/questions/3968919/how-can-i-access-a-user-defined-xcode-build-setting

I think, app needs to be rebuild for this value to be reflected, which then means that `test-without-building` might not work. But this is probably not an issue for m

[2019-10-01 11:48] NSCabezon opened #158 "Xcode 11 issues"
hi I'm having some issues when trying to compile in Xcode 11 any ideas on why?

<img width="348" alt="Captura de pantalla 2019-10-01 a las 13 47 53" src="https://user-images.githubusercontent.com/563761/65959395-29b9bb80-e452-11e9-829e-e0164bf56540.png">

PS: We don't want to enable legacy build system

[2019-10-04 18:41] deanWombourne commented on #158
Hi,

I can't reproduce this in the Example project with Xcode 11.0, cocoapods 1.8.1.

How are you installing XCTest-Gherkin in your project?

[2019-10-16 13:18] #158 closed

[2020-03-19 13:22] cyrusingraham opened #159 "Exception thrown when running macOS tests"
This issue seems to effect all new macOS test targets. I have found the issue and will have a pull request open shortly. I am creating the issue to explain why the change is needed.

macOS 10.15.3, Xcode 11.3.1

**Steps to reproduce**
1. Create new macOS application project
<img width="731" alt="create_app-1" src="https://user-images.githubusercontent.com/2578157/77071168-93eefa00-69b9-11ea-8952-f

[2020-03-19 13:45] cyrusingraham commented on #159
[Pull Request](https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/160)

[2020-04-03 15:00] anamsantos commented on #109
I guys.. any news abou that?

[2020-04-03 17:03] deanWombourne commented on #109
Mostly this has dropped low down our list because we have no need for it.

It turns out to be not as trivial as just adding a package.swift because we have some objective-c code in there :0

[2020-04-13 20:54] azamsharp opened #163 "Does this framework allow Executable Specifications?"
Does this framework allow Executable Specifications?

I mean writing feature files and running it.

[2020-06-01 19:38] PersianDevelopers commented on #3
I made a PR for scenario tags. It will help others to bypass some scenarios in a feature file.
with having tags for scenario even if there are no tags for the feature it could help a lot.
https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/165

[2020-07-29 15:22] danspndl opened #167 "UI tests crashing on Xcode 11.5+"
When running UI tests on Xcode 11.5+, instead of reporting test failures, there's an exception that's stopping the whole test run.

The exception seems to be coming from `testCase(_:didFailWithDescription:inFile:atLine:)` in [XCTest-Gherkin](https://github.com/net-a-porter-mobile/XCTest-Gherkin/blob/5c331f3a076cd204f1ed5f1ffa5e9fab7e670667/Pod/Core/XCTestCase%2BGherkin.swift#L67). This method is n

[2020-08-12 05:13] Lucky1st commented on #109
@deanWombourne I hope you will add SPM support for your project.
I know that this is not a decisive factor in choosing a tool for BDD.
But it really saves time. Best regards.

[2020-08-13 11:51] joaobzao opened #169 "Support for Xcode 12"
Hey folks,

Using Xcode 12 beta, I tried to build `"net-a-porter-mobile/XCTest-Gherkin" == 0.19.2` using carthage and it failed due to:

[code]

Do you have any plans soon to support Xcode 12?

Cheers 😄

[2020-08-27 09:08] sdaniel55 commented on #167
The workaround I found for Xcode 11.6 is to remove `continueAfterFailure = false`. This issue has been resolved in the Xcode 12 betas.

[2020-09-01 05:43] saarmstrong commented on #169
_bump_

[2020-09-02 20:47] deanWombourne commented on #167
Annoyingly I can't replace it yet because we support the current and current-1 versions of Xcode - the replacement method isn't available in Xcode 11 so can't replace it yet.

Sigh.

Any suggestions welcome - though it's good to know you found a workaround :)

[2020-09-02 20:49] deanWombourne commented on #169
Hi - being blunt, pull requests are welcome. I'm a cocoapods user and don't really know enough about Carthage to help. Carthage support was added as a request from an external user and I've personally never used it.

That being said, I can take a look but honestly, you probably know more about the problem then I do at this point.

Sorry that's not much help.

[2020-09-03 13:53] joaobzao commented on #169
Just tried to build it through carthage using latest xcode 12 beta 6 and I'm no longer experiencing the build issue described above. 🎉

However we got a carthage builds fail at xcrun lipo.

This is not a gherkin issue, I'm just leaving here this info in case someone steps into this problem.

This lipo issue is being discussed in **[this carthage issue](https://github.com/Carthage/Carthage/issues/3

[2020-09-21 07:50] kerrmarin commented on #159
Looks like this was merged in back in march and released in 0.19.2. Thanks @cyrusingraham

[2020-09-21 07:50] #159 closed

[2020-09-21 07:51] kerrmarin commented on #109
Looks like this was fixed in #171, can @anamsantos or @Lucky1st  confirm?

[2020-09-21 07:51] #109 closed

[2020-09-22 14:38] #169 closed

[2020-09-28 12:14] pabloviciano opened #174 "Can't import 0.19.2 with Swift Package Manager"
The library can't be imported from SPM because there isn't any Package.swift inside the source code.

Please, could you fix it?

Cheers

[2020-11-03 18:09] joaobzao commented on #174
It looks like there's no release tag with Package.swift

As a workaround you can try importing it pointing to `master` branch instead of a release tag.

![Screenshot 2020-11-03 at 18 04 41](https://user-images.githubusercontent.com/8434594/98023703-3bad2100-1dff-11eb-8c18-2feec848469f.png)

[2020-11-03 20:15] deanWombourne commented on #174
Sigh, that's completely my fault - I've released it as version 0.20.0. Sorry about that :)

[2020-11-03 21:15] #174 closed

[2021-02-03 17:41] jmp opened #175 "Support "But" keyword from Gherkin"
Gherkin syntax includes a "But" keyword:
https://cucumber.io/docs/gherkin/reference/#and-but

For example:

When I open my eyes
Then I should see something
But I shouldn't see something else

It's basically a synonym for "And", but in some cases makes the specification a bit more readable.

It would be nice if XCTest-Gherkin also supported this keyword.

[2021-02-04 09:12] #175 closed

[2021-02-04 09:47] deanWombourne commented on #175
Hey - I've released this as 0.21.0 so you should be able to do a `pod update` :)

[2021-02-15 10:20] tomleightonstars opened #177 ""Missing required module 'XCTest_Gherkin_ObjC'""
I just imported the project via the Swift Package Manager and I'm getting the error "Missing required module 'XCTest_Gherkin_ObjC'" when doing "import XCTest_Gherkin" in a Swift project.

Any ideas if something's broken or I'm doing something wrong?

Edit: I'm using Xcode 12.4

[2021-02-15 13:56] kerrmarin commented on #177
Hi @tomleightonstars, thanks for opening this issue. Can you provide a small project that reproduces the issue?

[2021-02-25 15:25] tomleightonstars commented on #177
solved tihs by using cocoapods

[2021-02-25 15:25] #177 closed

[2021-02-25 15:27] tomleightonstars opened #178 "Native Feature files in subdirectories"
Hi,

So I've got proper feature files in a folder called 'features'. I'm trying to add subdirectories to 'features' however the parser is attempting to open the folder as if it were a file and errors out.

Are subdirectories supported for the native feature files?

parseFeatureFile in NativeFeatureParser.swift is where the error is showing

[2021-02-25 15:32] deanWombourne commented on #178
Hey - I guess if it's erroring out then no, no support for subfolders :) I'll make an issue and take a look - shouldn't be too hard to add in (said with hope).

[2021-02-25 15:36] deanWombourne commented on #178
Yep - I can trivially reproduce this, it's definitely a bug.

[2021-02-25 17:10] deanWombourne commented on #178
Hi - I've released this as version 0.21.1 - let me know if that works for you :)

[2021-02-26 09:02] tomleightonstars commented on #178
thank you so much @deanWombourne! It works perfectly!

[2021-02-26 09:02] #178 closed

[2021-02-26 09:04] tomleightonstars opened #179 "Feature request - tags for scenarios"
Just a quick request, would it be possible implement tagging at a scenario level?  I know it's currently implemented at feature level.

I've spotted there's a PR in for it - https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/165

Thank you ❤️

[2021-03-01 10:34] deanWombourne commented on #179
Hey - I've merged in that PR (not sure why it wasn't merged months ago!) so that should be on master now - I haven't released it yet because I don't know if there is anything else you need doing to make this work for you?

[2021-03-01 11:48] tomleightonstars commented on #179
Hey @deanWombourne, thanks so much! I guess the only thing would be to know how to use the tags? i.e. where to put them when running the tests so only a sub-section of features/scenarios run?

[2021-03-02 11:10] tomleightonstars commented on #179
it would also be great to know how to avoid running scenarios/features with specific tag(s)

[2021-03-03 16:10] tomleightonstars opened #181 "Feature request - Implement custom versions of 'test000, test001, etc.'"
Hi, me again! I hope you're well!

I'm just wondering if there's a way to implement a custom version of the SelectorString value in NativeScenario.swift? I'm aware I can change the value in there but then it won't be iterated through git to others.

I know similar is done when parsing the location of the Features folder, so maybe something similar could be done?

I can see 'test' is required in th

[2021-03-09 11:30] bbe02 commented on #181
Thanks @tomleightonstars raising this. It will be a great help if we can do the above.

[2021-03-09 17:15] tomleightonstars commented on #179
Hey @deanWombourne, I hope you're well. I've found the '-only-testing' and '-skip-testing' flags on xcodebuild cli commands. I've had a play with trying to get tags to run using these but unsuccessfully, just all scenarios are run. Just wondering if I'm going down the right path with this?

[2021-03-11 00:55] deanWombourne commented on #181
Hey.

Couple of question to see if I've understood your requirements :)

1. Do you want to replace the 001, 002 etc i.e. `test001TestAFunnyThing` could become `testHELLOTestAFunnyThing`?
2. Do you want to replace / insert a fixed string, or would you want to insert a string based on information about the test i.e. the index, the name etc?

[2021-03-11 08:55] tomleightonstars commented on #181
1. Yes exactly that
2. A fixed string would be perfect for me

Thank you for all your hard work with this repo :) <3

[2021-03-11 10:29] tomleightonstars commented on #181
Or, would it even possible to remove 'test' as well?

[2021-03-11 10:32] kerrmarin commented on #181
IIRC we added the numbers to make sure that tests were run sequentially as defined, because the order wasn't guaranteed when the tests were dynamic...?

[2021-03-11 10:35] bbe02 commented on #181
I would be against the idea of running tests in some order as each test should be independent.

[2021-03-11 11:25] deanWombourne commented on #181
Personally, so would I. However, a guiding principle I've been following is "do what cucumber would do" and (I believe) it will run the tests in the order they are specified in the feature file.

That being said, if people want to opt out of that behaviour then that's fine by me :)

My current plan for this is for a user to be able to pass in a block which will return the test selector name - wher

[2021-03-11 11:26] deanWombourne commented on #181
FYI @tomleightonstars The prefix `test` is what Xcode uses to determine which methods are tests - without it they don't get run.

[2021-03-11 11:29] tomleightonstars commented on #181
That sounds like a great plan! I had a go at trying to add something in but I couldn't get it working 🤦‍♂️

fair enough! I thought that might be the case

[2021-03-31 14:51] tomleightonstars opened #183 "Bug: App not reset between runs when Examples table used"
Hi @deanWombourne, I think I've found a bug...

When I'm running a Scenario as an Outline with an Examples table, then the app is not being reset after each line of Examples table has been run.

I've tried to debug this and have found that my `setUpWithError()` function within the base file isn't being hit in-between lines

[2021-04-14 10:03] olmedocr commented on #177
This happens because SPM does not link frameworks to testing targets at the moment, you can check a better explanation and the solution [here](https://stackoverflow.com/questions/58125428/missing-required-module-xyz-on-unit-tests-when-using-swift-package-manager).
In any case, it keeps failing with the error `ld: warning: Could not find or use auto-linked library 'XCTestSwiftSupport'
ld: warning:

[2021-04-20 13:31] tomleightonstars commented on #179
hey again @deanWombourne, I hope all is well with you! I've had a crack at adding running by tag and seems to work well for me! https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/185

[2021-04-21 15:52] tomleightonstars commented on #97
hey @tomesm! I know it's quite a while since you opened this but I've recently submitted a PR to add in tags as was being described above :). https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/185

[2021-04-21 15:53] tomleightonstars commented on #3
Tag running implemented in PR https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/185

[2021-04-27 10:35] tomleightonstars commented on #183
Fixed in PR https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/186

[2021-10-21 06:13] PierreEc opened #191 "Error in the step keyword mean description line"
If you write a spelling mistake in a keyword step, the line becomes a description line.

[Doc of cucumber](https://cucumber.io/docs/gherkin/reference/): "Free-form descriptions (as described above for Feature) can also be placed underneath Example/Scenario, Background, Scenario Outline and Rule."

No description should be add into step keywords

[2021-10-21 08:23] PierreEc commented on #191
Fix in this PR [#192 ](https://github.com/net-a-porter-mobile/XCTest-Gherkin/pull/192)

[2022-02-17 12:29] kdthomflutter opened #193 "Received an error when listing providers causing SIMCRASH"
`[ERROR] received an error when listing providers, attempting again: Error Domain=NSCocoaErrorDomain Code=257 "The file couldn’t be opened because you don’t have permission to view it." (count: 3)
2022-02-17 12:18:44.116524+0000 GherkinUITests-Runner[43025:663754] [default] [ERROR] received an error when listing providers, attempting again: Error Domain=NSCocoaErrorDomain Code=257 "The file couldn

[2022-04-12 11:55] benjdum59 opened #195 "Using throws on steps"
I would like to use XCTUnwrap on my "Then" steps but I can't since I need this method to throw an exception

[2022-10-01 11:09] abhishekbedi1432 commented on #193
Same issue for me and then the app terminates